 {% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Khalis CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'home.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>  <div class="container-fluid">
        <div class="row">
         <div class="col-md-3"><h2>Khalis Murfid</h2></div>
    <div class="col-md-9"> <ul>
      <li><a   href="{% url 'schedule' %}">SCHEDULE</a></li>
      <li><a class="active" href="{% url 'guestbook' %}">GUESTBOOK</a></li>
          <li><a href="{% url 'portofolio' %}">PORTOFOLIO</a></li>
          <li><a  href="{% url 'resume' %}">RESUME</a></li>
          <li><a  href="{% url 'home' %}">HOME</a></li>
    </ul></div></div>      
      
      <div class="row"><hr></div>
     <div class="row"><center><div class="col-md-12"><h1 class="guestbook">Guestbook</h1></div></center> </div>
  <div class="container">
  <form action="action_page.php">
    <label for="name">Name</label>
    <input type="text" id="name" name="firstname" placeholder="Your name.."><br>
<label for="date">Date</label>
  <input type="date" name="date" id="name">
        <label for="name">Email</label>
    <input type="text" id="name" name="firstname" placeholder="Email"><br>
      <label for="name">Subject</label>
    <input type="text" id="name" name="firstname" placeholder="Subject"><br>
    <label for="Message">Message</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
     

</div>
      



  </body>
  </html>
