{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Khalis CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'home.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    
  <div class="container-fluid">
        <div class="row">
         <div class="col-md-3"><h2>Khalis Murfid</h2></div>
    <div class="col-md-9">  <ul>
        <li><a   href="{% url 'schedule' %}">SCHEDULE</a></li>
      <li><a href="{% url 'guestbook' %}">GUESTBOOK</a></li>
          <li><a href="{% url 'portofolio' %}">PORTOFOLIO</a></li>
          <li><a  href="{% url 'resume' %}">RESUME</a></li>
          <li><a class="active" href="{% url 'home' %}">HOME</a></li>
    </ul> </div></div>      
      
      <div class="row"><hr></div>
   <div class="row">
       <div class="col-md-5">
           <div class="img-responsive"><center> <img src="https://serving.photos.photobox.com/22128934c433d3fcdbe4d1c2c6f59eb94d02949cfd2502d5d798384ebd7f833c5dba102a.jpg" alt="Avatar" class="img-circle"></center>
          </div>
       </div>
        <div class="col-md-6">
       <div class="right">
            <p class="introhead"><b>Halo,</b></p>
          <p class="intro">
              <p class="introsubhead">Saya Khalis.</p>
<br><p class="intro">
Saya adalah mahasiswa tingkat 2 ilmu komputer<br> di Universitas Indonesia. Saya sangat tertarik<br> dengan programming, menulis, serta hal-hal melibatkan <br> public speaking<br><br>
Hobi saya saat ini adalah olahraga dan membaca buku.<br>Kesibukan
saya saat ini adalah membuat website yang<br> nantinya akan
memuat segala hal tentang saya.<br><br>Saya berasal dari Jakarta dan saya sangat paham dengan istilah<br>
kerasnya ibukota. Jika saya tidak sedang didepan laptop, <br>
biasanya saya dapat didapati sedang bermain hp.</p></div></div>
      </div>
     
      
     

</div>

  </body>
  </html>
