  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Khalis CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'home.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
        <div class="container-fluid">
        <div class="row">
         <div class="col-md-3"><h2>Khalis Murfid</h2></div>
    <div class="col-md-9">  <ul>
        <li><a   href="{% url 'schedule' %}">SCHEDULE</a></li>
      <li><a  href="{% url 'guestbook' %}">GUESTBOOK</a></li>
          <li><a class="active" href="{% url 'portofolio' %}">PORTOFOLIO</a></li>
          <li><a  href="{% url 'resume' %}">RESUME</a></li>
          <li><a  href="{% url 'home' %}">HOME</a></li>
    </ul> </div></div>      
      
      <div class="row"><hr></div>
   <div class="row">
  <div class="col-md-9"><center>   <img src="{% static 'Image1.PNG' %}" class="responsive"></center>
   
  </div></div>
             <div class="col-md-12"><center> <div class="text">My another website<br>(Soon to be released)</div></center>
      </div>
      
</div>
      
<br>





  </body>
  </html>
