  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Khalis CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'home.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
       <div class="container-fluid">
        <div class="row">
         <div class="col-md-3"><h2>Khalis Murfid</h2></div>
    <div class="col-md-9">   <ul>
        <li><a   href="{% url 'schedule' %}">SCHEDULE</a></li>
    <li><a  href="{% url 'guestbook' %}">GUESTBOOK</a></li>
      <li><a href="{% url 'portofolio' %}">PORTOFOLIO</a></li>
      <li><a class="active" href="{% url 'resume' %}">RESUME</a></li>
      <li><a  href="{% url 'home' %}">HOME</a></li>
</ul> </div></div>      
      <div class="row"><hr></div>
   <div class="row">
 <div class="col-md-5"><center> <div>11 April 1999</div></center>
      </div>
           <div class="col-md-12"><div class="resumeprofile">http://cvkhalis.herokuapp.com/</div>
      </div></div>
           
             
      
</div>
<!--
        <div class="resumeprofile">   
           
      <p>Jalan Kebon Bawang XI, Tanjung Priok, <br>Jakarta Utara</p>
        <p>khalismurfid@gmail.com</p>
        <p>085792832484</p></div>

      <div class="resumeprofile1">   
            <p>h</p>
      <p>Khalis Murfid</p>
        <p>@KhalisMurfid</p>
        <p>Khalis Murfid</p>
            </div>
        <div class="divresume">
      <div class="row">
           <div class="col-3"><p class="divredtext">
               <b>Keterampilan</b>
               </p>
          <p class="divtext">
               <b>Python<br><br><br>Java<br><br><br>HTML/CSS<br><br><br>Flutter</b>
               </p>
          </div>
    <div class="col-3"><p class="divredtext"><b>Pendidikan</b>
        </p><p class="divtext">
               <b>Universitas Indonesia<br><br>SMAN 4 Denpasar<br><br>SMPN 95 Jakarta Utara<br><br>SDN Kebon Bawang 01 PG<br><br>TK Dahlia Cilincing</b>
               </p>
          </div>
    <div class="col-6"><p class="divredtext"><b>Pengalaman</b></p>
          <p class="divtext">
               <b>Staff Sponsorsip COMPFEST X<br><br>
                   Ketua Divisi Programming Computer Club SMAN 4 Denpasar<br><br>
                  Ketua Catur SMAN 4 Denpasar<br><br>
                  Kepala Humas KSPAN 4 Denpasar<br><br>
                  Mobile Apps Developer di Adateman.id</b>
               </p></div>
   
  </div></div>
-->



  </body>
  </html>
