  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Khalis CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'home.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
        <div class="container-fluid">
        <div class="row">
         <div class="col-md-3"><h2>Khalis Murfid</h2></div>
    <div class="col-md-9">  <ul>
        <li><a  class="active"  href="{% url 'schedule' %}">SCHEDULE</a></li>
      <li><a  href="{% url 'guestbook' %}">GUESTBOOK</a></li>
          <li><a href="{% url 'portofolio' %}">PORTOFOLIO</a></li>
          <li><a  href="{% url 'resume' %}">RESUME</a></li>
          <li><a  href="{% url 'home' %}">HOME</a></li>
    </ul> </div></div>

      <div class="row"><hr></div>

   <div class="row">
       {% block content %}
    <div class="row"><center><div class="col-md-12"><h1 class="guestbook">Schedule</h1></div></center> </div>
    <div class="article">
        <div class="article">
            <a class="btn btn-default" href="{% url 'schedule_add'%}"><span class="glyphicon glyphicon-pencil"></span></a>
             <a class="btn btn-default" href="{% url 'delete_all'%}"><span class="glyphicon glyphicon-trash"></span></a>
            <div class="row">
                {% for schedule in schedules %}
                    <div class="col-sm-4 text-center">
                        <h2>{{ schedule.activity }}</h2>
                        <p>{{ schedule.date.date }}</p>
                        <p>{{ schedule.time}}</p>
                        <p>{{ schedule.place }}</p>
                        <p>{{ schedule.category }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

   </div>

</div>

<br>





  </body>
  </html>
