html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin:0;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #a8ff78 , #78ffd6); /* Standard syntax (must be last) */
}

.card {
  min-width: 100%;
  min-height: 200px;
}
.card {display: flex}
.card--content {
  background-color: #e74c3c;
  min-width: 130px;

  margin: 10px;
}
.card {
  overflow-x: auto;
}
.card::-webkit-scrollbar {
  display: none;
}
.padeng{
    padding-left:30px;
    padding-right:30px;
    padding-top:50px;}
.imageContent{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
}
.card--content:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
p{
font-family: 'Lato', sans-serif;
}
.loader {
    visibility:hidden;
    left: 45%;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 60%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic);

h4 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	opacity: 0.7;
}

.click {
	font-size: 33px;
	color: rgba(0,0,0,.5);
	width: 38px;
	height: 38px;
	position: relative;
	cursor: pointer;
}

.click span {
	margin-left: 4px;
	margin-top: 3px;
}

span:hover {
	opacity: 0.8;
}

span:active {
	transform: scale(0.93,0.93) translateY(2px)
}



.active span, .active-2 span {
	color: #F5CC27 !important;
}


* {
	transition: all .32s ease;
}