@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
html,
body{
  height: 100%;
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;
  background-color: rgb(25,25,25);
  opacity: 1;
  transition: 1s opacity;
}
body.fade {
    opacity: 0;
    transition: none;
}
