{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Khalis CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'landingPage.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script src="{% static 'jqueryku.js' %}"></script>
  </head>
  <body>
  <div class="container-fluid">
   <div class="row">
       <div class="col-md-12"><p id="head" class="line-1 anim-typewriter">Hello, Apa kabar ?</p>
          </div>
       <div class="row" style="padding-bottom: 10px">
       <a id="change" class="btn btn-default" style="background-color: rgb(25,25,25);color: rgba(255,255,255,0.75);"><span>Light Mode</span></a>
       </div>
       <div class="row"><a class="btn btn-default" href="{% url 'profile'%}"><span class="glyphicon glyphicon-user"></span></a>
       <bottom>Profile</bottom></div>
      </div>
      <div class="row">
          <div class="col-md-4"></div>
       <div class="col-md-4">
            {% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Say it !</button>
    </form>
       </div>
        <div class="col-md-12">
          <h1>Timeline</h1>
           {% for schedule in schedules %}
                    <div class="row">
                        <h4>{{ schedule.status }}</h4>
                        <h5>{{schedule.date}}</h5>
                        <br>
                    </div>
                {% endfor %}
        </div>
 {% endblock %}
   </div>
     
      
     

</div>

  </body>
  </html>
