{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Khalis CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'liblary2.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{% static 'liblary2.js' %}"></script>
  </head>
  <body>
  <div class="loader"></div>
  <div class="row"><div class="w3-container">
       <div class="col-sm-1"></div>
      <div class="col-sm-10"><div class="padeng">
        <section class="card">
     {% for data in books %}
                    <div class = 'card--content' style='background-image: url({{data.1.volumeInfo.imageLinks.thumbnail}})' id = {{data.0}}></div>
        {% endfor %}
</section>
    </div></div>
      <div class="col-sm-1"></div>
  </div></div>
<div class="row">
     <div class="w3-container">
      <div class="col-sm-2"></div>
      <div class="col-sm-2" style="padding-top:50px"><div class="imageContent"></div></div>
      <div class="col-sm-3"style="padding-top:50px;" >
          <div class="row" ><div class="col-sm-12" id ='judul'></div></div>
           <div class="row" ><div class="col-sm-12" id="author"></div></div>
           <div class="row" ><div class="col-sm-12" id="subtitle"></div></div>
           <div class="row" ><div class="col-sm-12" id="konten"></div></div>

      </div>
      <div class="col-sm-6"style="padding-top:50px;" >
      </div>
</div>

  </div>
  </body>
  </html>
