{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Liblary</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'liblary.css' %}">
<!--===============================================================================================-->
</head>
<body>
<section>
  <!--for demo wrap-->
    {% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.username }}</p>
    <a href="{% url 'logout' %}" style="color: white;">Logout</a>
           
	{% else %}
        <p class="display-4">Hello, Anon</p>
     <a style="color: white;" class="lead" href="{% url 'login' %}">Log in</a>
    {% endif %}
     
  <h2>by <a href="https://www.instagram.com/khalismurfid/">@KhalisMUrfid</a></h2>
    <h2><i class="fa fa-star" id="starcounter" style="color:yellow"></i> : <span
            class="count">0</span></h2>
  <h2 id="comic">Comic</h2>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Cover</th>
          <th>Title</th>
          <th>Author</th>
          <th>Date Published</th>
          <th>Favorite</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>

      </tbody>
    </table>
  </div>
</section>

</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script >$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();

var counter =0;
function checkLike(){
  $.ajax({
        type : 'GET',
        url : '/konidin/api/getLike/',
        dataType : 'json',
        success : function(data) {
               for(var i=1; i<=data.message.length; i++) {
                    console.log(data.message[i]);
                    var id = data.message[i-1];
                    var td = document.getElementsByName(id)[0];
                    if(typeof td !== 'undefined'){
                        td.className='fas fa-star clicked';
                        td.style.color='yellow';
                    }
                    
                   $('.count').html(data.message.length);
                    
                }
                $('tbody').html(print);
        }
    });  
};
$(function(){
var search = "{{ search }}";
 $.ajax({
        type : 'GET',
        url : '/konidin/liblary/api/books/'+search,
        dataType : 'json',
        success : function(data) {
            var print ='';

                for(var i=1; i<=data.data.length; i++) {
                    print+="<tr >";
                    print+="<td"+"><img src="+data.data[i-1].cover+"></td>";
                    		print+='<td>'+data.data[i-1].title+'</td>';
                    print+="<td>"+data.data[i-1].authors+"</td>";
			        print+="<td>"+data.data[i-1].publishedDate+
                        "</td><td> <i name='"+data.data[i-1].id +"' class='fas fa-star' id='star'></i></td>";
                    print+='<tr>';
                }
                $('tbody').append(print);
                checkLike();
        }
    });
    
    


    $(document).on('click touchstart', '#star', function() {
        var id=$(this).attr("name");
        var ini = $(this);
         if( ini.hasClass('clicked') ) {
            $.ajax({
         url: "/konidin/api/unlike/",
        type: "POST",
        data: {
            id: id,
        },
        success: function(result) {
            counter=result.message;
            ini.removeClass('clicked');
            ini.css("color","rgba(150,150,150,0.5);");
            $('.count').html(counter);
        },
        error : function (errmsg){
            alert("Something is wrong");
        }
    });
            
        } else {
             $.ajax({
         url: "/konidin/api/like/",
        type: "POST",
        data: {
            id: id,
        },
        success: function(result) {
            counter=result.message;
            ini.addClass('clicked');
            ini.css("color","yellow");
            $('.count').html(counter);
            
        },
        error : function (errmsg){
            alert("Something is wrong");
        }
    });
            
            
        }

         
       

    });
    $(document).on('click', '#comic', function() {
       $.ajax({
        type : 'GET',
        url : '/konidin/liblary/api/books/comic/',
        dataType : 'json',
        success : function(data) {
        console.log("ss");
            var print ='';

               for(var i=1; i<=data.data.length; i++) {
                    print+="<tr>";
                    print+="<td"+"><img src="+data.data[i-1].cover+"></td>";
                    		print+='<td>'+data.data[i-1].title+'</td>';
                    print+="<td>"+data.data[i-1].authors+"</td>";
			        print+="<td>"+data.data[i-1].publishedDate+
                        "</td><td> <i name='"+data.data[i-1].id +"' class='fas fa-star' id='star'></i></td>";
                    print+='<tr>';
                }
                $('tbody').html(print);
        }
    });



    });


});
</script>

</html>