{% load static %}
<!DOCTYPE html>


<html>
        <head>
                <meta charset="UTF-8">
                <meta name="google-signin-client_id" content="470422909824-gm6vbu50bhkgk93186o4im3asoj1ebbi.apps.googleusercontent.com">
                <title id = "id_title">Login</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
                <link rel = "stylesheet" type = "text/css" href = "{% static 'login.css' %}">
                <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
                <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
                <script type = "text/javascript" src = "{% static 'login.js' %}" ></script>
            
             <script src="https://apis.google.com/js/platform.js" async defer></script>
            
            </head>

    <body>


<div class="h-100 row align-items-center">
      <div class="col-sm-12">
          <center> 
  <a style="color: white;font-size: 40px;" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
 </center>
      </div>
</div>


    </body>
   

</html>
