{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Khalis CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'landingPage.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  </head>
<body>
    <div class="loader">
  <div class="image">
    <i class="fa fa-codepen"></i>
  </div>
  <span></span>
</div>
   
    <div class="page">
     <center>
    <div class="row">
        <div id="gambar" class="img-responsive" style="padding-bottom: 10px" title="ganteng"> <img src="https://serving.photos.photobox.com/22128934c433d3fcdbe4d1c2c6f59eb94d02949cfd2502d5d798384ebd7f833c5dba102a.jpg" alt="Avatar" class="img-circle" title = "jelek">
          </div>
        <row><p>Khalis Murfid</p></row>
<row><p>1706040164</p></row>
<row><p>I'm a good boy</p></row>
       <div class="row" style="padding-bottom: 10px;padding-top: 20px">
       <a id="change" class="btn btn-default" style="background-color: rgb(25,25,25);color: rgba(255,255,255,0.75);"><span>Light Mode</span></a>
       </div>
       <div class="row"><a class="btn btn-default" href="{% url 'landingpage'%}"><span class="glyphicon glyphicon-home"></span></a>
       <bottom>Home</bottom></div>
       <div id="accordion">
  <h3>Aktivitas Saat Ini</h3>
  <div>
    <p>
   Sekarang saya lagi sibuk menjadi calon VPO Educare dan calon VPic Sponsorship Compfest XI
    </p>
  </div>
  <h3>Pengalaman Organisasi & Kepanitiaan</h3>
  <div>
    <p>
     <li>HRD 25th CGT</li>
      <li>Staff Sponsorship COMPFEST X</li>
    </p>
  </div>
  <h3>Prestasi</h3>
  <div>
    <p>
        not yet.
    </p>
  </div>
</div>
      </div>
</center>
    
<br></div>

</body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="{% static 'jqueryku.js' %}"></script>
  </html>
