{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Khalis CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
      <link href="{% static 'profile.css' %}" rel="stylesheet">
  </head>
<body>
    <div class="row"><center><IMG SRC="https://media3.giphy.com/media/sIIhZliB2McAo/giphy.gif?cid=3640f6095bf63c38397531396ff85c56"></IMG></center></div>
    <div class="row">
    <div class="col-sm-12">
<form method="POST" onsubmit="return false;">
    {% csrf_token %}
    {{ forms }}
    <button id='subscribe_button' class="btn btn-primary" type="submit" onclick="subscribe()" disabled=true>Subscribe</button>
</form>

        </div></div>
     <div class="row" style="padding-bottom: 20px">
         <div id ="notes" class="col-sm-12" style="padding-top: 12px; opacity: 0.6; color: red;"></div>
    </div>
    <section id="subscriber">
    </section>

</body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="{% static 'subscribe.js' %}"></script>
  </html>
