
.navbar-custom {
    background-color: rgba(35,15,0,0.0);
}
ul {
    list-style-type: none;
    margin: 0;
     padding-top: 40px;
    overflow: hidden;
   
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0; 
}

li {
    float: right;
}
.liname{
    float:left;
}
li a {
    color: #47525E;
    text-align: center;
    padding-right: 30px;
    padding-bottom: 2px;
    padding-left: 25px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
h2{
  
    color: #47525E;
    text-align: center;
    padding-top: 10px;
    
    text-decoration: none;
    font-size: 45px;
    font-family: 'Karla', sans-serif; 
}

li a:hover {
    background-color: rgba(35,15,0,0.0);
}
body{
    background-color: rgba(35,15,0,0.15);
}
.active{
    color:  #D9595C
}
.image {
   
    border-radius: 50%;
}
.avatar {
    padding-top: 180px;
}

.intro {
    display: block;
    color: #47525E;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
}
.introhead {
    display: block;
    color: #47525E;

    text-decoration: none;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
}
.introsubhead {
    display: block;
    color: #47525E;
    text-decoration: none;
    font-size: 44px;
    font-family: 'Lato', sans-serif;
}
meprofile1{
    color: #47525E;
    position: absolute;
    left:850px;
    top:180px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}
.divresume{
    padding-top: 350px;
    padding-left: 80px;
}

.divredtext{
    color: #D9595C;
    padding-left: 50px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}
.divtext{
    color: #47525E;
    width:80%;
    padding-left: 50px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}


#GUEST
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: rgba(35,15,0,0.0);
    padding: 20px;
    padding-top: 7%;
    width: 60%
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=date]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
label{
    color: #47525E;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.guestbook{
    padding-top: 2%;
    color: #47525E;
    text-decoration: none;
    font-size: 75;
    font-family: 'Pacifico', Helvetica, sans-serif;
}
* {box-sizing:border-box}


/* Hide the images by default */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */


/* Caption text */
.text {
    padding-top: 2%;
  color: #47525E;
  font-size: 15px;
  text-align: center;
}

* {
    box-sizing: border-box;
}
.left {
    float: left;
}
.right {
    padding-top: 5%;
    float: right;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 568px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        float: left;
    }
    li{text-align: center;
        float: none;
    }
    .responsive{
        max-width: 400px;
    min-width: 300px;
    }
}
.img-responsive {
    padding-top: 20%;
  display: block;
    width: auto;
  height: auto;
}

.img-responsive img {
    max-width: 400px;
    min-width: 300px;
}

.responsive {
    padding-top: 10%;
    float: right;
    width: 100%;
    max-width: 900px;
    min-width: 300px;
    height: auto;
}
.portofolio{
    background-image: url(Image1.PNG);
}